
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-wrap:wrap;
	gap:10px;
	justify-content:space-between;
}

div div{
	width:100px;
	height:100px;
	font-size:50px;
}

.item1,.item2,.item3,.item4,.item5{
	background-color:green;
}

.item6{
	background-color:red;
}


.item7{
	background-color:darkblue;
}